@media screen and (min-width : 1200px ){	
	/* footer styles */
	#fuscontainer {
		@media screen and (min-width : 1200px ){
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: left;
		background-color: #277881;
		padding-bottom: 1%;
		}
		p  {
			@media screen and (min-width : 1200px ){
				font-size: 80%;
				line-height: 80%;
				color: white;
			}
		h5 {
			font-size: 100%;
			color: white;
		}
		#fuszeiten {
			margin-left: 4%;
		}
		#fuslogo {
			width: 15%;
			#logofus {
				width: 70%;
			}
		}
		#divhaftung {
			background-color: #1C555A;
			color: white;
			#haftung {
				margin-top: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				padding-top: 1%;
				li {
					list-style-type: none;
					a {
						text-decoration: none;
					}
				}	
				#asitemap, #akontaktfoot, #adatenschutzfoot, #akarriere {
					margin-left: 5px;
				}
			}
			#copyright {
				padding-bottom: 1%;
				color: lightgray;
			}
		}
	}
/*footer styles Ende */ 
}
@media screen and ( min-width : 800px ) and (max-width : 1200px ){	
/* footer styles*/
	#fuscontainer {
		@media screen and ( min-width : 800px ) and (max-width : 1200px ){	
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: left;
			background-color: #277881;
			padding-bottom: 1%
		}
		p  {
			@media screen and ( min-width : 800px ) and (max-width : 1200px ){
				font-size: 80%;
				line-height: 80%;
				color: white;
			}
		}
		h5 {
			@media screen and ( min-width : 800px ) and (max-width : 1200px ){
				font-size: 100%;
				color: white;
			}
		}
		#fuszeiten {
			@media screen and ( min-width : 800px ) and (max-width : 1200px ){
				margin-left: 4%;
			}
		}
		#fuslogo {
			@media screen and ( min-width : 800px ) and (max-width : 1200px ){
				width: 20%;
				margin-right: 3%;
			}
			#logofus {
				width: 100%;	
			}
		}
		#divhaftung {
			background-color: #1C555A;
			color: white;
			#haftung {
				margin-top: 0;
				display: flex;
				align-items: center;
				justify-content: c enter;
				padding-top: 1%;
				li {
					list-style-type: none;
					a {
						text-decoration: none;
						color: white;
					}	
				}
				#asitemap, #akontaktfoot, #adatenschutzfoot, #akarriere {
					margin-left: 5px;
				}
			}
			#copyright {
				padding-bottom: 1%;
				color: lightgray;
			}	
		}
	}
/*footer styles ende */
}
@media screen and (min-width: 400px) and (max-width: 800px) {
/*fußzeile styles */
	#fuscontainer {
		@media screen and (min-width: 400px) and (max-width: 800px) {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: left;
			background-color: #277881;
			padding-bottom: 1%;
			margin-top: 3%;
		}
		p  {
			font-size: 65%;
			line-height: 80%;
			color: white;
		}
		h5 {
			font-size: 75%;
			color: white;
		}
		#fuszeiten {
			margin-left: 4%;
		}
	}
	#asitemap, #akontaktfoot, #adatenschutzfoot, #akarriere {
		margin-left: 5px;
	}
	#divhaftung {
		background-color: #1C555A;
		color: white;
	}
	#haftung {
		margin-top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 1%;
		padding-right: 5%;
	}
	#haftung li {
		list-style-type: none;
	}
	#haftung a {
		text-decoration: none;
		color: white;
		font-size: 80%;
	}	
	#copyright {
		padding-bottom: 3%;
		color: lightgray;
		font-size: 80%;
	}	
	#fuszeiten {
		margin-left: 4%;
	}
	#logofus {
		width: 100%;		
	}
	#fuslogo {
		width: 20%;
		margin-right: 3%;
	}
/* fußzeile styles Ende */
}
@media screen and (max-width: 400px) {
/* fußzeile styles */
	#fuscontainer {		
		text-align: left;
		background-color: #277881;
		padding-bottom: 1%;
		margin-top: 3%;
	}
	#fuscontainer p  {
		font-size: 65%;
		line-height: 80%;
		color: white;
	}
	h5 {
		font-size: 75%;
		color: white;
	}
	#asitemap, #akontaktfoot, #adatenschutzfoot, #akarriere {
		margin-left: 5px;
	}
	#divhaftung {
		background-color: #1C555A;
		color: white;
	}
	#haftung {
		margin-top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 1%;
		padding-right: 5%;
	}
	#haftung li {
		list-style-type: none;
	}
	#haftung a {
		text-decoration: none;
		color: white;
		font-size: 55%;
	}	
	#copyright {
		padding-bottom: 3%;
		color: lightgray;
		font-size: 60%;
	}	
	#fuszeiten, #fusdaten {
		display:flex;
		align-items: center;
		justify-content: center;
		font-size: 50%;
		margin-left: 0;
		margin-right: 0;
	}
	#logofus {
		width: 100%;		
	}
	#fuslogo {
		width: 90%;
		margin-right: 3%;
	}
	#logotxt {
		text-align: center;
	}
/* fußzeile Ende */	
}