/* BREAKPOINTS */

$largetablet: 850px;
$smalldesktop: 1200px;
$largedesktop: 1400px; 
$medium: 780px;
$smalltablet: 600px;
$smartphone: 480px;
$smallmiddle: 400px;
$smallsmart: 330px;


/*-----------------------------------------/
/VARIABLES									/
/------------------------------------------*/

$maxwidth: 1400px;
$maxcontent: 1200px;

/* ------------------- */

$basecolor_blue: #3aafbc;